<mat-card style="display: grid; place-items: center;">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="flex: 1; margin: 10px;">
      <mat-form-field>
        <input matInput placeholder="Código parcela" formControlName="numeroIdentificacion">
      </mat-form-field>
    </div>
    <div style="flex: 1; margin: 10px;">
      <mat-form-field>
        <input matInput placeholder="Órden de compra" formControlName="cantidadMeses">
      </mat-form-field>
    </div>
    <div style="flex: 1; margin: 10px;">
      <mat-form-field>
        <input matInput placeholder="Montó de compra" formControlName="montoPrestamo">
      </mat-form-field>
    </div>
    <div style="flex: 1; margin: 10px;">
      <mat-form-field>
        <input matInput placeholder="Porcentaje Alcohol" formControlName="tasaInteres">
      </mat-form-field>
    </div>

    <div style="flex: 1; width: 100%; display: flex; justify-content: center; margin-top: 20px;">
      <button mat-raised-button color="warn" type="button" (click)="formulario.reset()" style="margin-right: 10px;">
        <mat-icon>clear</mat-icon>
        Limpiar
      </button>
      <button mat-raised-button color="primary" type="submit" style="margin-right: 10px;">
        <mat-icon>save</mat-icon>
        Registrar
      </button>
    </div>
  </form>
</mat-card>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="mostrarTabla">

  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="numeroIdentificacion">
    <th mat-header-cell *matHeaderCellDef> Código parcela </th>
    <td mat-cell *matCellDef="let element"> {{element.idCliente.numeroIdentificacion}} </td>
  </ng-container>

  <ng-container matColumnDef="nombreCliente">
    <th mat-header-cell *matHeaderCellDef> Nombre parcela </th>
    <td mat-cell *matCellDef="let element"> {{element.idCliente.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="noSolicitud">
    <th mat-header-cell *matHeaderCellDef> Item Compra </th>
    <td mat-cell *matCellDef="let element"> {{element.noSolicitud}} </td>
  </ng-container>

  <ng-container matColumnDef="tasaInteres">
    <th mat-header-cell *matHeaderCellDef> Porcentaje Alcohol %</th>
    <td mat-cell *matCellDef="let element"> {{element.tasaInteres}} </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado compra</th>
    <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
  </ng-container>

  <ng-container matColumnDef="cantidadMeses">
    <th mat-header-cell *matHeaderCellDef> Mes de compra </th>
    <td mat-cell *matCellDef="let element"> {{element.cantidadMeses }} </td>
  </ng-container>

  <ng-container matColumnDef="montoPrestamo">
    <th mat-header-cell *matHeaderCellDef> Monto Prestamo </th>
    <td mat-cell *matCellDef="let element"> {{element.montoPrestamo }} </td>
  </ng-container>

  <ng-container matColumnDef="aprobarRechazar">
    <th mat-header-cell *matHeaderCellDef> Aprobar o Rechazar </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="modificarElemento(element, 'aprobar')">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="modificarElemento(element, 'rechazar')">
        <mat-icon>thumb_down</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>



